/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d5f555;
    background-image: url('R.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    @media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
    @media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
    @media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
    @media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
    @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }

h1{
    text-align: center;
}

.music-player {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.music-info {
    display: flex;
    align-items: center;
    padding: 20px;
}

.album-cover {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
}

.track-info {
    flex-grow: 1;
}

.track-title {
    margin: 0;
}

.audio-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    padding: 10px;
}

.control-btn {
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.volume-control {
    width: 80px;
}

.progress-bar-container {
    background-color: #eee;
    padding: 5px;
}

.progress-bar {
    width: 100%;
    height: 10px;
}